th, td {
    border: 2px dashed;
    padding: 10px;
}

.myContent {
    margin:10px;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    color:white;
    background-color:black;
}

input {
    border-style: none;
    color: white;
    background-color: black;
    outline:none;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    font-size: 16px;
    font-weight: bold;   
    padding: 20px 80px;
}

