<h3>Education</h3>

<table>
    <tbody>
        <tr>
            <th>University</th>
            <td>@EducationDetails.UniversityName</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>@EducationDetails.Location</td>
        </tr>
        <tr>
            <th>Period Attended</th>
            <td>@EducationDetails.DateInterval</td>
        </tr>
        <tr>
            <th>Degree</th>
            <td>@EducationDetails.Degree</td>
        </tr>
    </tbody>
</table>
