@using CvWasm.Managers
@inject IFileManager FileManager
@inject IComponentManager ComponentManager
@inject IErrorManager ErrorManager

<h3>Help</h3>

@if (CommandDescriptions.Length > 0)
{
    <table>
        <tbody>
            @foreach (var command in CommandDescriptions!)
            {
                @foreach(var key in command.Keys)
                {
                    <TableHeaderAndDataRow TableHeader="@key" SimpleData="@command[key]" />
                }                
            }            
        </tbody>        
    </table>    
}
