@using CvWasm.Managers
@inject HttpClient Http
@inject IFileManager FileManager
@inject IComponentManager ComponentManager
@inject IErrorManager ErrorManager

<h3>Help</h3>

@if (CommandDescriptions.Count > 0)
{
    <div>
        @foreach (string command in CommandDescriptions![CurrentSelectedLanguage!]!)
        {
            <p>@command</p>
        }
    </div>
    
}
