@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<PageTitle>Home</PageTitle>

@* TODO: need to translate this to korean *@
<div class="ascii-art">@AsciiArt</div>
<div>
    <p>Hello and welcome to my CV website. This is a console type of website so you will need to use supported commands to navigate around.</p>
    <p>Please type 'help' to see supported commands and their description.</p>
</div>



@if (ListOfComponents.Count > 0)
{
    @foreach (var component in ListOfComponents)
    {
        <p>Guest> @component.Command</p>
        <div class="myContent">
            <DynamicComponent Type="component.MetaData.Type" Parameters="component.MetaData.Parameters" />
        </div>
    }
}


<label>Guest></label>
<input @ref="TextInput" @bind-value="@Command" @bind-value:event="oninput" @onkeydown="Enter" @onblur="FocusElement" />
