@page "/"
@using CvWasm.Managers
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject IFileManager FileManager
@inject IErrorManager ErrorManager
@inject IComponentManager ComponentManager
@inject IComponentList ComponentList

<PageTitle>Home</PageTitle>

<div class="ascii-art">@AsciiArt</div>

@if (CurrentSelectedLanguage == Languages.eng)
{
    <div>
        <p>Hello and welcome to my CV website. This is a console type of website so you will need to use supported commands to navigate around.</p>
        <p>Please type 'help' to see supported commands and their description.</p>
    </div>
} else
{
    <div>
        <p>제 CV 웹사이트에 오신 것을 환영합니다! 여 곳은 console 타입 웹사이트 입니다. 둘러보기 위해서는 명령을 내려야 합니다.</p>
        <p>어떤 명령을 내려야 하는지 설명을 보기 위해서는 'help'라고 써주세요.</p>
    </div>
}

@if (ComponentList.LoadedComponents.Count > 0)
{
    @foreach (var component in ComponentList.LoadedComponents)
    {
        <p>Guest> @component.Command</p>
        <div class="myContent">
                <DynamicComponent @ref="ChildComponent" Type="component.MetaData.Type" Parameters="component.MetaData.Parameters" />                
        </div>
    }
}

<div id="inputDiv">
    <label>Guest></label>
    <input id="inputField" @ref="TextInput" @bind-value="@Command" @bind-value:event="oninput" @onkeydown="KeyboardButtonPressed" @onblur="FocusElement" />
</div>
