@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="ascii-art">@AsciiArt</div>
<div>
    <p>Hello and welcome to my CV website. This is a console type of website so you will need to use supported commands to navigate around.</p>
    <p>Please type 'help' to see supported commands and their description.</p>
</div>

@if (listOfComponents.Count > 0)
{
    @foreach (var component in listOfComponents)
    {
        <p>Guest> @component.Command</p>
        <div class="myContent">
            <DynamicComponent Type="component.MetaData.Type" Parameters="component.MetaData.Parameters" />
        </div>
    }
}

<label>Guest></label>
<input @ref="textInput" @bind-value="@Command" @bind-value:event="oninput" @onkeydown="Enter" @onblur="FocusElement" />


@code {
    private CvModel? cv;
    private Dictionary<string, ComponentMetadata>? components;
    private ComponentMetadata? selectedComponent;    
    private ElementReference textInput;
    private string Command = string.Empty;
    private int currentExperienceIndex = 0;
    private List<CommandAndData> listOfComponents = [];
    private string? AsciiArt;

    protected override async Task OnInitializedAsync()
    {
        cv = await Http.GetFromJsonAsync<CvModel>("cv-data/cv-eng.json") ?? new();
        AsciiArt = await Http.GetStringAsync("cv-data/ascii-welcome.txt");
        InitializeComponentsWithParameters(cv);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FocusElement();
        }

        await JSRuntime.InvokeVoidAsync("scrollToInput");
    }

    private async Task FocusElement()
    {
        await textInput.FocusAsync();
    }

    //TODO:
    //implement back functionality. probably use list of navigated pages/commands and on arrow up or command back load previos command and maybe on arrow down/next show next if exists

    private void InitializeComponentsWithParameters(CvModel cv)
    {
        components = new(StringComparer.OrdinalIgnoreCase)
        {
            [nameof(About)] = new ComponentMetadata()
            {
                Type = typeof(About),
                Name = "About",
                Parameters = {[nameof(About.Data)] = cv.About!}
            },
            [nameof(HardSkills)] = new ComponentMetadata()
            {
                    Type = typeof(HardSkills),
                Name = "Hard Skills",
                    Parameters = { [nameof(HardSkills.Data)] = cv.Skills!.HardSkills! }
            },
                [nameof(SoftSkills)] = new ComponentMetadata()
                {
                    Type = typeof(SoftSkills),
                    Name = "Soft Skills",
                    Parameters = { [nameof(SoftSkills.Data)] = cv.Skills.SoftSkills! }
                },
            [nameof(Education)] = new ComponentMetadata()
            {
                Type = typeof(Education),
                Name = "Education",
                Parameters = { [nameof(Education.Data)] = cv.Education! }
            },
            [nameof(Help)] = new ComponentMetadata()
            {
                Type = typeof(Help),
                Name = "Help"
            }
        };
    }

    private readonly Dictionary<string, string> ValidCommands = new()
        {
            [AboutCommand] = nameof(About),
            [ExperienceCommand] = nameof(WorkExperience),
            [HardSkillsCommand] = nameof(HardSkills),
            [SoftSkillsCommand] = nameof(SoftSkills),
            [EducationCommand] = nameof(Education),
            [HelpCommand] = nameof(Help)
        };

    private async Task Enter(KeyboardEventArgs e)
    {
        if ((e.Code == "ArrowLeft" || e.Code == "ArrowRight") && listOfComponents.Last().MetaData.Type == typeof(WorkExperience))
        {
            SelectCurrentWorkExperience(e.Code);
        }

        if ((e.Code == "Enter" || e.Code == "NumpadEnter"))
        {
            await ShowSelectedComponent();
        }

    }

    private void SelectCurrentWorkExperience(string code)
    {
        if (code == "ArrowRight" && currentExperienceIndex < cv.Experience.Length - 1)
        {
            currentExperienceIndex++;
        }
        if (code == "ArrowLeft" && currentExperienceIndex > 0)
        {
            currentExperienceIndex--;
        }
        selectedComponent.Parameters[nameof(WorkExperience.Data)] = cv.Experience[currentExperienceIndex];
        selectedComponent.Parameters[nameof(WorkExperience.CurrentIndex)] = currentExperienceIndex;
    }

    private async Task ShowSelectedComponent()
    {
        switch (Command)
        {
            case ClearCommand:
                ClearWindow();
                break;
            case AboutCommand:
            case EducationCommand:
            case HardSkillsCommand:
            case SoftSkillsCommand:
            case HelpCommand:
                LoadComponent(ValidCommands[Command]);
                break;
            case ExperienceCommand:
                LoadExperienceComponent();
                break;
            case OpenGitHubCommand:
                OpenLinkInNewTab(cv.About.GitHubLink);
                break;
            case OpenLinkedInCommand:
                OpenLinkInNewTab(cv.About.LinkedInLink);
                break;
            case DownloadEngCvCommand:
                await DownloadCv("eng");
                break;
            case DownloadKorCvCommand:
                await DownloadCv("kor");
                break;
            case ShowEnglishCommand:
                await LoadCv("eng");
                break;
            case ShowKoreanCommand:
                await LoadCv("kor");
                break;
            default:
                LoadErrorComponent();
                break;
        }

        Command = string.Empty;
    }

    private void LoadExperienceComponent()
    {
        selectedComponent = new ComponentMetadata()
            {
                Type = typeof(WorkExperience),
                Name = "Work Experience",
                Parameters = { 
                    [nameof(WorkExperience.Data)] = cv!.Experience![0],
                [nameof(WorkExperience.TotalExperienceCount)] = cv.Experience.Count()
                }
            };


        listOfComponents.Add(new()
        {
            Command = Command,
            MetaData = selectedComponent
        });
    }

    private void LoadComponent(string componentName)
    {
        selectedComponent = components[componentName];
        listOfComponents.Add(new()
            {
                Command = Command,
                MetaData = selectedComponent
            });
    }

    private void LoadErrorComponent()
    {
        selectedComponent = new ComponentMetadata()
                {
                    Type = typeof(Error),
                    Name = "Error",
                Parameters = { [nameof(Error.BadCommand)] = Command }
                };
        listOfComponents.Add(new()
            {
                Command = Command,
                MetaData = selectedComponent
            });
    }

    private void ClearWindow()
    {
        listOfComponents = [];
    }

    private void OpenLinkInNewTab(string url)
    {
        JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }

    private async Task DownloadCv(string language)
    {
        var base64 = await FileUtil.GetPdfCvBase64(Http, language);
        await JSRuntime.InvokeVoidAsync("downloadFile", $"cv_{language}.pdf", base64);
    }

    private async Task LoadCv(string language)
    {
        cv = await Http.GetFromJsonAsync<CvModel>($"cv-data/cv-{language}.json") ?? new();
        InitializeComponentsWithParameters(cv);
    }
}


