<h3>Soft Skills</h3>

<table>
    <tbody>
        @foreach (var skill in SoftSkillsDetails!.Skills!)
        {
            <tr>
                <td>
                    @skill
                </td>
            </tr>
        }
    </tbody>
</table>