<h3>WorkExperience</h3>

@* TODO: need to translate this to korean *@
<h5>Experience @(CurrentIndex + 1) out of @TotalExperienceCount</h5>
<h5>Use arrow key left or right to see other work experience</h5>
    <table>
        <tbody>
            <tr>
                <th>Time Period</th>
            <td>@Data!.TimePeriod</td>
            </tr>
            <tr>
                <th>Company</th>
            <td>@Data!.Company</td>
            </tr>
            <tr>
                <th>Location</th>
            <td>@Data!.Location</td>
            </tr>
            <tr>
                <th>Position</th>
            <td>@Data!.Position</td>
            </tr>
            <tr>
                <th>Job Description</th>
                <td>
                @foreach (string responsibility in Data!.JobDescription!)
                    {
                        <p>@responsibility</p>
                    }
                </td>
            </tr>

        </tbody>
    </table>

@code {
    [Parameter]
    public WorkExperienceModel? Data { get; set; }
    [Parameter]
    public int CurrentIndex { get; set; }
    [Parameter]
    public int TotalExperienceCount { get; set; }
}
