<tr>
    <th>@TableHeader</th>
    @if (!string.IsNullOrWhiteSpace(SimpleData))
    {
        <td>@((MarkupString)SimpleData)</td>
    }
    else
    {
        <td>
            @foreach (string text in CollectionData)
            {
                <p>@text</p>
            }
        </td>        
    }
</tr>
